QMainWindow{
    background-color:#0C0C0C;
}

/* QListWidget */

QListWidget#in_convert_list,
QListWidget#out_convert_list{
    border-radius:10px;
    background-color: #1D1E22;
    color:#CFCFCF;
    padding: 2px;
}

QListWidget#in_convert_list::item:hover,
QListWidget#out_convert_list::item:hover{
    background-color: #90744b59;
    border-radius: 5px;
}

QListWidget::item:disabled{
    background-color: #1D1E22;
}

QListWidget#in_convert_list::item:selected,
QListWidget#out_convert_list::item:selected{
    color:white;
    background-color:#a27d4580;
    border-radius: 5px;
}

*:focus{
    outline: none;
}

/* QScrollBar  */

QScrollBar:vertical{
    background: #1D1E22;
    height: 1px;
    width: 12px;
    border-radius: 5px;
}

QScrollBar::handle:vertical{
    background: #2b2d34;
    border-radius:5px;
    min-height: 10px;
    max-height: 15px;
}

QScrollBar::handle:hover:vertical{
    background: #161619;
    border-radius: 5px;
    min-height: 10px;
    max-height: 15px;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical{
    background:#1D1E22
    
}
QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical{
    border-radius: 5px;
    background:none;
    
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical{
    background:none;
    border:none;
    color: none;
}

/* QLabel - Title */

QLabel#title{
    color:#E6AF2E;
    font-family:Bebas Neue;
    font-size:45px;
    margin-top: 5px;
}

/* QLineEdit */

QLineEdit#input_line{
    border-radius:20px;
    background-color:#1E1E1E;
    font-family: Lato; color:white;
    font-size: 20px;
}

/* QPushButton */

QPushButton#convert_button{
    border-radius:30px;
    background-color:#FF8F00;
    color:#eddcc5;
    font-family: Bebas Neue;
    font-size: 25px;
    letter-spacing: 2px;
}
QPushButton#convert_button:hover{
    color:white;
}

/* QLCDNumber */

QLCDNumber#display{
    border-radius: 15px;
    background-color:#FF8F00;
}

/* QLabel - in/out */

QLabel#in_text{
    font-family: Bebas Neue;
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
}
QLabel#out_text{
    font-family: Bebas Neue;
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
}